{
	"ignoreFiles": [
		"./node_modules/**/*.*",
		"./build/**/*.*",
		"./src/scss/utils/**/*.*",
		"./_public/**/*.*",
		"**/*.js"
	],
	"extends": "stylelint-config-recommended",
	"rules": {
		"indentation": "tab",
		"string-quotes": "double",
		"selector-pseudo-class-no-unknown": [true, {
			"ignorePseudoClasses": ["global"]
		}]
	}
}