@import "../../style/vars-mixins/vars-index";

.loading {//should sit in relative container!
	position: absolute;//FAIL overlaps with bottom nav due to absolute
	top: 50px;//override in parent if needed
	left: 0;
	width: 100%;
	display: flex;
	padding: 30px;
	//margin: 50px 0;//?
	z-index: 9999;
}
.loading__ball {
	animation: bounce 1s linear infinite;
	background: $orangeTurq;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: auto;
}
@keyframes bounce {
	0%, 100% {transform: scale(1); opacity: 1}
	50% {transform: scale(.7); opacity: .7}
}