$breakpoints: (
	// min-width
	"print": "print",
	"xs": "500px",//no need?
	"sm": "576px",
	"md": "750px",
	"lg": "992px",
	"xl": "1200px",
	"xxl": "1600px"
);

$breakDownPoints: (
	//max-width
	"xs": "575px",
	"sm": "749px",
	"md": "991px",
	"lg": "1199px",
);

$breakOnlyPoints: (
	"xxs": "(max-width: 400px)",
	"sm": "(min-width: 576px) and (max-width: 749px)",
	"md": "(min-width: 750px) and (max-width: 991px)",
	"lg": "(min-width: 992px) and (max-width: 1199px)"
);