@mixin content-width {
	outline: 1px dashed lime;
	@include centered;
	width: 100%;
	padding: 0 15px;//
	@include breakUp("sm") {
		max-width: 540px;
	}
	@include breakUp("md") {
		max-width: 720px;
	}
	@include breakUp("lg") {
		max-width: 960px;
	}
	@include breakUp("xl") {
		max-width: 1140px;
	}
}