
.circleParent {
	position: relative;
	height: 300px;
	width: 300px;
}
.circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	border: 1em solid;
	border-radius: 50%;
}
.circle1 {
	border-color: cyan;
	// transform: rotate(-10deg);
	z-index: 1;

}
.circle2 {
	outline: 1px dashed #fff;
	border-color: transparent $black transparent transparent;
	transform: rotate(0deg);
	z-index: 10;
	&:before, &:after {
		content: "";
		position: absolute;
		border-radius: 50%;
		width: 1em;
		height: 1em;
		right: 27px;
		background: cyan;
	}
	&:before {
		top: 25px;
	}
	&:after {
		bottom: 25px;
	}

}