@import "../style/vars-mixins/vars-index";

.frontpage {
	outline: 2px dashed magenta;
	height: calc(100vh - var(--headerHeight) - var(--footerHeight));
	background: url("images/index-table.png") center bottom/cover no-repeat;
}