$breakPoints: (
	// min-width
	"print": "print",
	"xs": "500px", //no need?
	"sm": "576px",
	"md": "750px",
	"lg": "990px",
	"xl": "1200px",
	"xxl": "1500px"
);

@mixin mediaUp($breakpoint) {
	@media screen and (min-width: #{map-get($breakPoints, $breakpoint)}) {
		@content;
	}
}

$breakDownPoints: (
	//max-width
	"xs": "575px",
	"sm": "749px",
	"md": "989px",
	"lg": "1199px",
	"xl": "1499px",
);

@mixin mediaDown($breakpoint) {
	@media screen and (max-width: #{map-get($breakDownPoints, $breakpoint)}) {
		@content;
	}
}

$breakOnlyPoints: (
	"xxs": "(max-width: 575px)",
	"sm": "(min-width: 576px) and (max-width: 749px)",
	"md": "(min-width: 750px) and (max-width: 989px)",
	"lg": "(min-width: 991px) and (max-width: 1199px)",
	"xl": "(min-width: 1200px) and (max-width: 1499px)"
);

@mixin mediaOnly($breakpoint) {
	@media screen and #{map-get($breakOnlyPoints, $breakpoint)} {
		@content;
	}
}