@import "utils/_reset.css";
@import "./vars-mixins/vars-index";
@import "utils/debug";
@import "./layout";
@import "./typography";

// 1. General
// font can be here or in /src/assets/index.html
//@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

body {// TODO add theme css-vars
	background-color: #333;
	color: #fff;
}
main {
	min-height: calc(100vh - 80px);//TODO ${headerHeight}px
}

//Icons
// .icon {//fail
// 	// width: ${props => props.big ? "52px" : "32px"};
// 	// height: ${props => props.big ? "52px" : "32px"};
// 	width: 32px;
// 	height: 32px;
// }
.icon {
	width: 32px;
	height: 32px;
	&_big {
		width: 42px;
		height: 42px;
	}
}


