.lang {
	&__container {
		// outline: 1px solid red;
		position: relative;
		width: 80%;
		margin: 0 auto;
		padding-top: 50px;
		border-top: 1px solid $white-transparent;
		&_cv {
			width: 100%;
			border-bottom: 1px solid $black-transparent;
			&.flash-border {
				animation: flash-border .8s linear .1s 1;
			}
		}
	}
	&__toggle {
		line-height: 1;
		color: $white;
		position: absolute;
		top: 15px;
		left: 50%;
		margin-left: -105px;
		cursor: pointer;
		opacity: .6;
		transition: opacity .2s ease-in;
		&:hover {
			opacity: 1;
		}
		&_cv {
			top: -10px;
			color: $black;
		}
		&_bottom {
			top: auto;
			bottom: 15px;
			display: none;
		}
		& span {
			font-size: 22px;
		}
		& .far {
			font-size: 16px;
		}
		&.expand {
			& .fa-minus-square {
				display: none;
			}
		}
		&.collapse {
			& .fa-plus-square {
				display: none;
			}
		}
	}//toggle
	&__content {
		// outline: 1px dashed red;
		width: 100%;
		margin-bottom: 70px;
		height: 0;
		overflow: hidden;
		opacity: 0;
		transition: opacity .2s ease-in;
		&_cv {
			margin-bottom: 0;
		}
		&.expanded {
			margin-bottom: 70px;
			height: auto;
			overflow: auto;
			border-radius: 30px;
			opacity: 1;
			animation: flash .8s 1;
			&+.lang__toggle_bottom {
				display: block;
			}
		}
	}

}//lang

@keyframes flash {
	0% {
		background: $gray-lightest;
	}
	50% {
		background: $green-lightest;
	}
	100% {
		background: $gray-lightest;
	}
}
@keyframes flash-border {
	0% {
		border-bottom: 1px solid $black-transparent;
	}
	50% {
		border-bottom: 1px solid $green;
	}
	100% {
		border-bottom: 1px solid $black-transparent;
	}
}
