// Index:
// 0. Includes
// 1. General
// 2. Typography
// 3. Grid & structure
// 4. Helpers

//@import "vars/index";
//@import "utils/debug";
//@import "utils/reset";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Roboto+Slab:wght@600;700&display=swap");


// 1. General
body {
	background:#333333;
	// color: map-get($theme, blue);
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
}
// 2. Typography
h1, h2, h3, h4 {
	font-family: "Courier New", monospace;
	// font-family: "Roboto Slab", serif;
	font-weight: 700;
}
h1 {
	font-size: 230%;
	margin-bottom: 20px;
}
h2 {
	font-size: 190%;
	margin-bottom: 18px;
}
h3 {
	font-size: 160%;
	margin-bottom: 16px;
}
h4 {
	font-size: 130%;
	margin-bottom: 14px;
}
p {
	font-size: 100%;
	margin: 0 0 8px;
}
//a {
//	@include borderUnderline;
//}
// end typo






//// 3. Grid & structure
//.gridContainer {
//	display: grid;
//	grid-template: ". content ." 1fr / 15px 1fr 15px;
//	justify-items: center;
//	width: 100%;
//}
//.gridContent {
//	grid-area: content;
//	@include contentWidth;
//}
//.contentWidth {
//	@include contentWidth;
//	@include centered;
//}
//// end grid
//
//// 4. Helpers
//.md-up-hidden {
//	@include breakUp("md") {
//		display: none;
//	}
//}
//.float-right {
//	float: right;
//}
//.float-left {
//	float: left;
//}
//// end helpers
//
//
////tmp
//:global .icon {
//	width: 50px;
//	height: 50px;
//}

// .grid-sidebar {
// 	@include up-to-md {
// 		display: none;
// 	}
// 	grid-area: sidebar;
// 	padding-right: 15px;
// 	padding-left: 15px;
// }
// .grid-main {
// 	outline: 1px dotted red;
// 	grid-area: main;
// 	padding-right: 15px;
// 	padding-left: 15px;
// 	@include sm {
// 		padding-right: 30px;
// 		padding-left: 30px;
// 	}
// }
// .grid-with-sidebar {
// 	outline: 1px dashed green;
// 	width: 100%;
// 	display: grid;
// 	grid-template-rows: 1fr;
// 	grid-template-columns: 15px 1fr 15px;
// 	grid-template-areas: ". main .";
// 	@include sm {
// 		grid-template-columns: 1fr 540px 1fr;
// 	}
// 	@include md {
// 		grid-template-areas: "sidebar main .";
// 		grid-template-columns: 2.3fr 9.5fr 0.2fr;
// 	}
// 	@include lg {
// 		grid-template-columns: 3fr 8fr 1fr;
// 	}
// 	@include xl {
// 		grid-template-columns: 3fr minmax(850px, 900px) 1fr;
// 	}
// }
